*{
  margin: 0;
  padding: 0;
  font-family: 'helvetica neue';
}
html,body{
  height: 100vh;
  width: 100%;
  background-color: #111;
}
.cards-container{
  display: flex;
  gap: 10px; /* space between cards */
  /* overflow: hidden; */
  flex-wrap: wrap;
}
.parent{
  height: 25rem;
  width: 20rem;
  border-radius: 2.5rem;
  background-color: white;
  /* gap: 3rem; */
  margin-left: 3rem; 
  margin-top: 2rem;
}
.top{
 display: flex;
  justify-content: space-between;
  /* align-items: center;  */
}
img{
  height: 4.8rem;
  margin-left: 1.4rem;
  margin-top: 1.5rem;
  border: 2px solid rgb(191, 190, 190);
  border-radius: 5rem;
}
button{
  margin-right: 1.4rem;
  margin-top: 2rem;
  height: 1.4rem;
  width: 4rem;
  align-items: center;
  display: flex;
  justify-content: space-around;
  border-radius: 0.5rem;
  border: 2px solid rgb(191, 190, 190);
}
.content{
  display: flex;
  gap: 0.3rem;
  margin-top: 2rem;
  margin-left: 1.5rem;
}
.content h4{
  font-size: 1.2rem;
}
.content p{
  color: rgb(9, 9, 9);
  font-size: 1rem;
  margin-top: 0.099rem;
}
.card h2{
  margin-top: 0.6rem;
  margin-left: 1.5rem;
}
.group_button{
  height: 1.3rem;
  display: flex;
  /* gap: 0rem; */
  
  margin-left: 1.5rem;
  align-items: center;
}
.group_button button{
  /* display: flex; */
  font-weight: bold;
  height: 1.8rem;
  width: 5.8rem;
  /* align-items: center; */
  border-radius: 1rem;
  border: 2px solid rgb(191, 190, 190);
}

.bottom{
  margin-top: 6.3rem;
  margin-left: 1rem;
  display: flex;
  /* background-color: pink; */
  height: 5rem;
  width: 18rem;
  align-items: center;
  /* border-radius: 2rem; */
  border-top: 3px solid rgb(224, 221, 221);
}
.bottom_left{
  /* background-color: pink; */
  width: 7rem;;
  align-items: center;
}
.bottom_left p{
  /* font-style: ; */
  margin-left: 0.8rem;
  color: rgb(80, 79, 79);
}
.bottom button{
  height: 2.2rem;
  width: 9rem;
  margin-left: 5rem;
  margin-bottom: 1.6rem;
  background-color: #111;
  color: white;
  border-radius: 2rem;
}

/* @media only screen and (max-width:600px){
  .card{
    background-color: aqua;
  }
} */